/* only small desktops */
/* tablets */
/* only small tablets */
@media only screen and (min-width: 1441px) {
  .navbar-nav {
    height: 50px;
  }

  .navbar-nav li {
    display: flex;
    align-items: center;
  }
  .aviso a {
    font-size: 12px;
    width: 300px;
    font-size: 24px;
    z-index: 2;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1440px) {
  .aviso a {
    font-size: 20px;
    width: 260px;
    z-index: 2;
  }
  .f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
  }
  .f-social li a {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 10px;
  }

  .footer-area h3 {
    font-size: 18px;
  }
  .navbar-collapse {
    position: relative;
    top: 15px;
  }
  .nav-link {
    display: flex;
    align-items: center;
  }
  .navbar-nav {
    height: 50px;
  }
  .contact-imfo-box i {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    color: #5c4c31;
    font-size: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-right: 20px;
  }
  .contact-imfo-box h4 {
    margin: 0px;
    margin-top: 5px;
    color: #ffffff;
    font-size: 20px;
    padding: 0px;
    font-weight: 500;
    line-height: 24px;
  }
  .contact-imfo-box p {
    margin: 0px;
    color: #ffffff;
    font-weight: 300;
  }
  .footer-area {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .bg-f {
    background-image: url("../img/fondo3.jpg");
    background-attachment: scroll;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .bg-f::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
  }

  .footer-area .container {
    position: relative;
    z-index: 1;
  }
  .footer-area h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 1px dashed rgba(207, 166, 113, 0.5);
    margin-bottom: 10px;
  }
  .footer-area p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding-bottom: 10px;
  }

  .footer-area p.lead {
    font-size: 19px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .footer-area p.lead a {
    color: #ffffff;
    margin-bottom: 15px;
  }
  .footer-area p.lead a:hover {
    color: #d0a772;
  }
  .footer-area p a {
    font-size: 18px;
    color: #ffffff;
  }
  .footer-area p a:hover {
    color: #5c4c31;
  }
  .customer-reviews-box {
    padding: 70px 0px;
  }

  .carousel-inner .carousel-item .img-box {
    width: 135px;
    height: 135px;
  }
  .carousel-control-prev {
    left: -100px;
  }
  .carousel-control-next {
    right: -100px;
  }
  .carousel-indicators {
    top: 320px;
  }

  .text-warning {
    color: #5c4c31 !important;
    font-size: 24px;
  }
  .carousel-inner .carousel-item p {
    font-size: 14px;
  }
  .carousel-control-prev {
    left: -5px;
  }
  .carousel-control-next {
    right: -5px;
  }
  .carousel-indicators {
    top: 400px;
  }

  #reviews .carousel-control-prev {
    background: #5c4c31;
    color: #ffffff;
    display: block;
    position: absolute;
    width: 8%;
    height: 50px;
    top: 50%;
    font-size: 28px;
    opacity: 1;
  }
  #reviews .carousel-control-prev:hover {
    background: #010101;
    color: #ffffff;
  }

  #reviews .carousel-control-next {
    background: #5c4c31;
    color: #ffffff;
    display: block;
    position: absolute;
    width: 8%;
    height: 50px;
    top: 50%;
    font-size: 28px;
    opacity: 1;
  }
  #reviews .carousel-control-next:hover {
    background: #010101;
    color: #ffffff;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mas-productos {
    font-size: 24px;
  }
  .aviso a {
    font-size: 13px;
    width: 180px;
    z-index: 2;
  }
  .f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
  }
  .f-social li a {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 10px;
  }
  .navbar-light .navbar-brand {
    margin-left: 15px;
  }
  .navbar-light .navbar-toggler {
    margin-right: 15px;
    border-radius: 0px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    box-shadow: none;
  }
  .carousel-control-prev {
    left: -60px;
  }
  .carousel-control-next {
    right: -60px;
  }
  .why-text h4 {
    font-size: 18px;
  }
  .why-text p {
    margin: 0px;
  }
  .nav-link {
    display: flex;
    position: relative;
    top: 15px;
    align-items: center;
  }
  .navbar-nav {
    height: 225px;
  }
  .contact-imfo-box {
    background: #5c4c31;
    padding: 30px 0;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .contact-imfo-box i {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    color: #5c4c31;
    font-size: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-right: 20px;
  }
  .contact-imfo-box h4 {
    margin: 0px;
    margin-top: 5px;
    color: #ffffff;
    font-size: 20px;
    padding: 0px;
    font-weight: 500;
    line-height: 24px;
  }
  .contact-imfo-box p {
    margin: 0px;
    color: #ffffff;
    font-weight: 300;
  }
  .footer-area {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .bg-f {
    background-image: url("../img/fondo3.jpg");
    background-attachment: scroll;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .bg-f::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
  }

  .footer-area .container {
    position: relative;
    z-index: 1;
  }
  .footer-area h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 1px dashed rgba(207, 166, 113, 0.5);
    margin-bottom: 10px;
  }
  .footer-area p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding-bottom: 10px;
  }

  .footer-area p.lead {
    font-size: 19px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .footer-area p.lead a {
    color: #ffffff;
    margin-bottom: 15px;
  }
  .footer-area p.lead a:hover {
    color: #5c4c31;
  }
  .footer-area p a {
    font-size: 18px;
    color: #ffffff;
  }
  .footer-area p a:hover {
    color: #5c4c31;
  }
  .customer-reviews-box {
    padding: 70px 0px;
  }

  .carousel-inner .carousel-item .img-box {
    width: 135px;
    height: 135px;
  }
  .carousel-control-prev {
    left: -100px;
  }
  .carousel-control-next {
    right: -100px;
  }
  .carousel-indicators {
    top: 320px;
  }

  .text-warning {
    color: #5c4c31 !important;
    font-size: 24px;
  }
  .carousel-inner .carousel-item p {
    font-size: 14px;
  }
  .carousel-control-prev {
    left: -5px;
  }
  .carousel-control-next {
    right: -5px;
  }
  .carousel-indicators {
    top: 400px;
  }

  #reviews .carousel-control-prev {
    background: #5c4c31;
    color: #ffffff;
    display: block;
    position: absolute;
    width: 8%;
    height: 50px;
    top: 50%;
    font-size: 28px;
    opacity: 1;
  }
  #reviews .carousel-control-prev:hover {
    background: #010101;
    color: #ffffff;
  }

  #reviews .carousel-control-next {
    background: #5c4c31;
    color: #ffffff;
    display: block;
    position: absolute;
    width: 8%;
    height: 50px;
    top: 50%;
    font-size: 28px;
    opacity: 1;
  }
  #reviews .carousel-control-next:hover {
    background: #010101;
    color: #ffffff;
  }
}

/* mobile or only mobile */
@media (max-width: 767px) {
  .aviso a {
    font-size: 13px;
    width: 180px;
    left: 15px;
  }
  .navbar-nav li {
    position: relative;
    top: 15px;
  }

  .navbar-light .navbar-brand {
    margin-left: 15px;
  }
  .navbar-light .navbar-toggler {
    margin-right: 15px;
    border-radius: 0px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    box-shadow: none;
  }
  .cover-slides h1 {
    font-size: 22px;
  }
  .cover-slides p {
    font-size: 14px;
  }
  .slides-navigation a {
    height: 42px;
    width: 38px;
    line-height: 33px;
  }
  .inner-column {
    margin-top: 15px;
  }
  .inner-column h1 {
    font-size: 22px;
  }
  .filter-button-group {
    margin: 10px 0px;
  }

  .contact-imfo-box .col-md-4 {
    margin-bottom: 15px;
  }
  .carousel-control-prev {
    left: 0px;
  }
  .carousel-control-next {
    right: 0px;
  }
  .blog-box-inner .blog-detail {
    overflow: hidden;
  }
  .blog-sidebar {
    margin-top: 50px;
  }
  .nav-link {
    display: flex;
    position: relative;
    align-items: center;
  }
  .navbar-nav {
    height: 150px;
  }
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
  .mas-productos {
    font-size: 30px;
  }
  .aviso a {
    font-size: 12px;
    width: 180px;
    left: 15px;
    z-index: 2;
  }
  .bancos-icons {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .bancos-icons > img {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 300px !important;
    height: 120px !important;
    max-width: 500px !important;
    left: 10px !important;
    top: -100px !important;
  }
  .bancos {
    font-size: 22px;
  }
  .number {
    font-size: 22px;
  }
  .why-text p {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .nav-link {
    display: flex;
    position: relative;

    align-items: center;
  }
  .navbar-nav {
    height: 150px;
  }
}

@media (min-width: 641px) {
  .footer-area {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .bg-f {
    background-image: url("../img/fondo3.jpg");
    background-attachment: scroll;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .bg-f::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
  }

  .footer-area .container {
    position: relative;
    z-index: 1;
  }
  .footer-area h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 1px dashed rgba(207, 166, 113, 0.5);
    margin-bottom: 10px;
  }
  .footer-area p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding-bottom: 10px;
  }

  .footer-area p.lead {
    font-size: 19px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .footer-area p.lead a {
    color: #ffffff;
    margin-bottom: 15px;
  }
  .footer-area p.lead a:hover {
    color: #5c4c31;
  }
  .footer-area p a {
    font-size: 18px;
    color: #ffffff;
  }
  .footer-area p a:hover {
    color: #5c4c31;
  }
  .f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
  }
  .f-social li a {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 10px;
  }
  .carousel-inner .carousel-item p {
    font-size: 14px;
  }
  .carousel-control-prev {
    left: -5px;
  }
  .carousel-control-next {
    right: -5px;
  }
  .carousel-indicators {
    top: 400px;
  }

  #reviews .carousel-control-prev {
    background: #5c4c31;
    color: #ffffff;
    display: block;
    position: absolute;
    width: 8%;
    height: 50px;
    top: 50%;
    font-size: 28px;
    opacity: 1;
  }
  #reviews .carousel-control-prev:hover {
    background: #010101;
    color: #ffffff;
  }

  #reviews .carousel-control-next {
    background: #5c4c31;
    color: #ffffff;
    display: block;
    position: absolute;
    width: 8%;
    height: 50px;
    top: 50%;
    font-size: 28px;
    opacity: 1;
  }
  #reviews .carousel-control-next:hover {
    background: #010101;
    color: #ffffff;
  }
}
/*Medias Manuales*/

@media (min-width: 360px) {
  .bancos-icons > img {
    left: 30px !important;
  }
  .ws-icon img {
    top: 600px;
    right: 50px;
    height: 50px;
    width: 50px;
  }

  @media (min-width: 375px) {
    .ws-icon img {
      top: 600px;
      right: 50px;
      height: 50px;
      width: 50px;
    }
  }

  @media (min-width: 411px) {
    .bancos-icons > img {
      left: 60px !important;
    }
    .ws-icon img {
      top: 600px;
      right: 50px;
      height: 50px;
      width: 50px;
    }
  }
  @media (min-width: 412px) {
    .bancos-icons > img {
      left: 60px !important;
    }
    .ws-icon img {
      top: 600px;
      right: 50px;
      height: 50px;
      width: 50px;
    }
  }
  @media (min-width: 414px) {
    .bancos-icons > img {
      left: 60px !important;
    }
    .container-iconos {
      position: absolute;
      bottom: 440px;
      right: 250px;
    }
    .ws-icon img {
      top: 560px;
      right: 50px;
      height: 50px;
      width: 50px;
    }
  }
  @media (min-width: 425px) {
    .bancos-icons > img {
      left: 60px !important;
    }
    .ws-icon img {
      top: 560px;
      right: 50px;
      height: 50px;
      width: 50px;
    }
  }
  @media (min-width: 540px) {
    .ws-icon img {
      top: 600px;
      right: 50px;
      height: 50px;
      width: 50px;
    }
  }
  @media (min-width: 600px) {
    .bancos-icons > img {
      left: 0px !important;
    }
    .ws-icon img {
      top: 650px;
      right: 50px;
      height: 50px;
      width: 50px;
    }
  }
  @media (min-width: 768px) {
    .bancos-icons > img {
      left: 150px !important;
    }
    .ws-icon img {
      top: 650px;
      right: 100px;
      height: 70px;
      width: 70px;
    }
  }

  @media (min-width: 1024px) {
    .bancos-icons > img {
      left: 170px !important;
    }
    .ws-icon img {
      top: 550px;
      right: 50px;
      height: 70px;
      width: 70px;
    }
  }

  @media (min-width: 1152px) {
    .ws-icon img {
      top: 550px;
      right: 100px;
      height: 70px;
      width: 70px;
    }
  }

  @media (min-width: 1280px) {
    .ws-icon img {
      top: 550px;
      right: 100px;
      height: 70px;
      width: 70px;
    }
  }

  @media (min-width: 1366px) {
    .ws-icon img {
      top: 550px;
      right: 100px;
      height: 70px;
      width: 70px;
    }
  }

  @media (min-width: 1440px) {
    .ws-icon img {
      top: 600px;
      right: 100px;
      height: 80px;
      width: 80px;
    }
  }

  @media (min-width: 1920px) {
    .ws-icon img {
      top: 750px;
      right: 100px;
      height: 80px;
      width: 80px;
    }
    .navbar-nav {
      height: 50px;
    }

    .navbar-nav li {
      display: flex;
      align-items: center;
    }
  }
}
